li
  color: white

.grid
  display: flex
  padding: 0px 80px
  .image
    margin-bottom: 10px
    border: 2px solid #F9E915
    img
      width: 100%

.font-sw
  padding: 0px

.nao-hovered
  margin-left: 200px