li
  color: white

.grid
  display: flex
  padding: 0px 80px
  .info
    border: 3px solid
    display: flex
    flex: 1
    padding: 15px
    .bio
      height: 100%
      transform: skew(0deg)
      width: 100px
      p
        transform: rotate(-75deg) translateX(-100%) translateY(100%)
    .background-image
        background-image: url("../../assets/grupos.png")
        font-size: 110px
        position: absolute
        transform: scale(1.5)
        transform: skew(20deg)
        right: 20px
        z-index: -99999
  .image
    img
      width: 200px

.teste
  width: 100% !important
  background-image: none !important
  transition: all 200ms linear !important

.nao-teste
  width: 100px !important
  transition: all 200ms linear !important