.grid
  flex-wrap: wrap
  a
    flex: 1 1 100px
    .transform
      color: white
      text-align: center
      text-transform: capitalize
      transform: skew(-20deg)
      white-space: nowrap
      .background
        margin-bottom: 10px
        border: 5px solid #000000
        background-position: center center
        background-repeat: no-repeat
        background-size: cover
        height: 325px
        margin: 0px 0px 5px 5px
        position: relative
        object-fit: cover
        transform-style: preserve-3d
        transition: transform 0.7s 

.juca
  flex: 1

@media only screen and (max-width: 1024px)
  .grid
    .background
      transform: none !important

a
  flex: 1

.font-sw
  padding: 0px

.hover-card
  flex-basis: 15% !important

.grid-form--card
  border: 0px !important
