@font-face
  font-family: Jedi
  src: url("./assets/Starjedi.ttf")
  font-weight: bold

html, body
  height: 100%

#root, .App
  min-height: 100% !important
  height: 100%

.App
  padding: 0px 0px 40px 0px
  background-image: linear-gradient(to bottom, #4b79c2, #4475c4, #3c72c7, #346ec9, #2c6acb, #2666cb, #2063cc, #1a5fcc, #145bcb, #0e57ca, #0753c9, #014fc8)
  //height: 1000px
  
.grid-form
  border: 1px solid
  transform: skew(-20deg)

.font-sw
  color: black
  font-family: Jedi
  text-shadow: -1px 0 #F9E915, 0 1px #F9E915, 1px 0 #F9E915, 0 -1px #F9E915