@font-face
  font-family: Jedi
  src: url("./assets/Starjedi.ttf")
  font-weight: bold

html
  height: 100%

body, #root, .App
  background-image: linear-gradient(to bottom, #2d1878, #252378, #1f2b77, #1c3174, #1e3771, #223e74, #264477, #2c4b7a, #315585, #366090, #3b6a9b, #4075a6)
  height: 100%

.App
  padding: 40px 0px
  //height: 1000px
  
.grid-form
  border: 1px solid
  transform: skew(-20deg)

.font-sw
  color: black
  font-family: Jedi
  text-shadow: -1px 0 #F9E915, 0 1px #F9E915, 1px 0 #F9E915, 0 -1px #F9E915